* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html, body {
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
}

@mixin center() {
   display: flex;
  justify-content: center;
  align-items: center;
}

main{
  height: 100%;
  width: 100%;
  @include center();
 

.container{
  height:15rem ;
  width: 30rem;
  background-color: rgb(225, 13, 119);
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnUVdYoo_BG8u0MfdXGxKjjdCIxILMVDzJJw&s");
  background-size: cover;        
  background-position: center;  
  background-repeat: no-repeat;
   border-radius: 10px;
}
.text{
  font-size: 1.5rem;
  margin: 1rem 1rem;
  span{
    color: blue;
  }
}
.dowloadBar{
  height: 2rem;
  width: 90%;
  background-color: antiquewhite;
  margin: 1rem 1.2rem;
  border-radius: 10px;
  .status{
    height: 100%;
    width: 0%;
    border-radius: 10px;
    background-color: rgb(27, 211, 27);
  }
}
.lower{
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 0rem 2rem;
  button{
    padding: 0.7rem 1rem;  
    border-radius: 5px;
    font-weight: 400;
    font-size: 1.5rem;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkrjJgSvYGjlUDxBTCuG-TOkOP4tNtNNJ7bA&s");
  background-size: cover;        
  background-position: center;  
  background-repeat: no-repeat;
  }
  .percentage{
    font-size: 2.4rem;
  }
}
}