* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html, body {
  height: 100vh;
  width: 100%;
   
}

.btn{
  padding: 20px;
  background-color: rgb(234, 56, 86);
  padding: 25px 35px;
  border-radius: 5px;
  font-size:30px;
  font-weight:400;
  transition: transform 0.1s ease;
}
main{
   height: 100%;
  width: 100%;
  position: relative;
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(128, 220, 189);
  overflow: hidden;
}
h2{
  z-index: 1;
}