* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: aliceblue;
}
html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont,  sans-serif;
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  height: 100%;
  width: 100%;
  overflow: hidden; 
  position: relative;
  
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom; 
}

.tag{
  position: absolute;
  z-index: 2;
  top: 18rem;
  bottom: 40px;
}
.tag-upper{
  font-size: 5rem;
  color: rgb(255, 255, 255);
}
.tag-lower{
  font-size: 5rem;
}