* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: aliceblue;
}
html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont,  sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
}

p{
  color: green;
  font-size: 2rem;
  font-weight: 500;
}