* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;

  color: white;
}
body {
  background: url("https://images.unsplash.com/photo-1499678329028-101435549a4e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  object-fit: cover;
}
:root {
  --x: 200px;
  --y: 200px;
}

.box {
  height: 100%;
  width: 100%;
  border: 1px solid rgb(153, 145, 145);
  background: radial-gradient(
    150px at var(--x) var(--y),
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.911)
  );
}
